In [2]:
#Import Dependecies
import pandas as pd

In [3]:
# Files to Load

vine_to_load = "vine_table.csv"

In [4]:
# Read the file and save it to a Pandas DataFrame

vine_data_df = pd.read_csv(vine_to_load)
vine_data_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N
5,R2F53LI9KK9MOY,4.0,2.0,2.0,N,N
6,R1KJ6MB7MRSQFF,4.0,9.0,11.0,N,N
7,R2XIM9LT335WHE,4.0,3.0,10.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
9,R1VKEE2NWSWDRU,4.0,0.0,0.0,N,N

In [5]:
#Filter the data to retrieve all of the rows where the total votes count is greater than or equal to 20
filter1_df = vine_data_df[vine_data_df['total_votes']>=20]
filter1_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
29,R1KPOIT5WT3NEF,1.0,13.0,29.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
46,R33IFUWCNYFSO,2.0,4.0,45.0,N,N
47,RWMT2MXG3WLDP,5.0,6.0,20.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N

In [6]:
#Filter the new DataFrame and create a new DataFrame to retrieve all of the rows where
#the number of helpful votes divided by total votes if greater than or equal to 50%
filter2_df = filter1_df[(filter1_df['helpful_votes']/filter1_df['total_votes'])>=0.5]
filter2_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
63,R2DXLNKF0EL4CI,4.0,24.0,27.0,N,Y
64,R12EHXBC0GP2C2,5.0,23.0,24.0,N,N
65,R2JSWNTAO83X3V,5.0,145.0,184.0,N,N
71,R3THZWOBS1086J,5.0,46.0,47.0,N,N
75,R160DHJPJ4B20R,4.0,28.0,30.0,N,N

In [7]:
#Filter the DataFrame and create a new DataFrame that retrieves all of the rows
#where a review was written as part of the Vine program (paid)
vine_paid_df = filter2_df[filter2_df['vine'] == 'Y']
vine_paid_df.head(10)

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [8]:
#Filter the filter2 DataFrame and create a new DataFrame that retrievs all of the rows
#where a review was not part of the Vine program (unpaid)
vine_unpaid_df = filter2_df[filter2_df['vine'] == 'N']
vine_unpaid_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8,R1VE0FQQ0QTQJN,5.0,16.0,20.0,N,Y
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
63,R2DXLNKF0EL4CI,4.0,24.0,27.0,N,Y
64,R12EHXBC0GP2C2,5.0,23.0,24.0,N,N
65,R2JSWNTAO83X3V,5.0,145.0,184.0,N,N
71,R3THZWOBS1086J,5.0,46.0,47.0,N,N
75,R160DHJPJ4B20R,4.0,28.0,30.0,N,N

In [16]:
#Total number of unpaid reviews
len(vine_unpaid_df)

403807

In [15]:
#Total number of unpaid 5-star reviews
len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5.0])

242889

In [17]:
#Percentable of unpaid 5-star reviews
len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5.0])/len(vine_unpaid_df)

0.6014977452099641

In [18]:
#Total number of paid reviews
len(vine_paid_df)

0

In [19]:
#Total number of paid 5-star reviews
len(vine_paid_df[vine_paid_df['star_rating'] == 5.0])

0

In [21]:
#Percentable of paid 5-star reviews
try:
    len(vine_paid_df[vine_paid_df['star_rating'] == 5.0])/len(vine_paid_df)

except:
    print("This results in a Zero Division Error, since the DataFrame is empty.")

This results in a Zero Division Error, since the DataFrame is empty.

In [22]:
#Filtering the original DataFrame to determine if it contained any
#reviews part of the vine program (paid)

original_paid_df = vine_data_df[vine_data_df['vine'] == 'Y']
len(original_paid_df)

2